<mjml owa="desktop">
  <mj-head>
    <mj-font name="FreeSet" href="https://allfont.net/allfont.css?fonts=freeset" />
    <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Roboto" />
    
  </mj-head>
  <mj-body font-family="FreeSet, Roboto" background-color="#fafafa;">
    <mj-raw>
      <!-- Company Header -->
    </mj-raw>
    <mj-section background-color="#ebedec" padding="0px">
      <mj-column vertical-align="middle" width="600px">
        <mj-table>
          <tr style="border:0px;text-align:right;padding:0;">
            <td width="150px"></td>
            <td style="font-family:FreeSet,Roboto; text-align:right; padding:0px;font-size:13px;color:#626262;">При поддержке:</td>
            <td style="padding:0px;"><img alt="Минпромторг, Госдума, РСПП, АНО «Цифровая экономика»" style="padding:0px;" width="294px" src="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-header-logos.png"></td>
          </tr>
        </mj-table>

      </mj-column>
      <mj-column vertical-align="middle" width="300px">

      </mj-column>
    </mj-section>
    <mj-raw>
      <!-- Hero Image Header -->
    </mj-raw>
    <mj-hero height="406px" background-position="center center" background-color="#ffffff" background-url="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-map-bg.png">
      <mj-text align="left" color="#413c35" font-size="18px" font-family="FreeSet, Roboto" padding="55px 20px">14 ноября, отель «Метрополь»</mj-text>
      <mj-text align="left" color="#413c35" font-size="18px" font-family="FreeSet, Roboto" padding="200px 0px 0px 20px">Москва, отель «Метрополь»<br>Театральный проезд, 2</mj-text>
    </mj-hero>
    <mj-raw>
      <!-- Intro text -->
    </mj-raw>
    <mj-section background-color="#2f528e">
      <mj-column>
        <mj-text font-size="25px" font-weight="700" font-family="FreeSet, Roboto" color="#ffffff">О Форуме</mj-text>
        <mj-text color="#ffffff" font-size="17px" line-height="25px" font-family="FreeSet, Roboto">
          Межрегиональный промышленный Форум - это место встречи
          руководителей ведущих российских и зарубежных компаний,
          органов государственной власти и институтов развития.
        </mj-text>
        <mj-text color="#ffffff" font-size="17px" line-height="27px" font-family="FreeSet, Roboto">
          Основная задача Форума - сформировать предложения
          промышленных предприятий в адрес регулятора по вопросам
          реализации региональной промышленной политики, инструментам
          поддержки финансирования проектов развития и цифровизации
          российских компаний, созданию в промышленности экспортно
          ориентированного сектора, развивающегося на основе передовых
          технологий.
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-raw>
      <!-- Speakers -->
    </mj-raw>
    <mj-section background-color="#ffffff">
      <mj-column width="450px">
        <mj-text align="center" color="#413c35" font-weight="700" font-size="25px" font-family="FreeSet, Roboto">
          К участию приглашены:
        </mj-text>
      </mj-column>
    </mj-section>
    
    <mj-section background-color="#ffffff">
    <mj-group>
      <mj-column>
        <mj-image width="108px" src="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-manturov.png"></mj-image>
        <mj-text align="center" color="#413c35" font-weight="700" font-size="22px" font-family="FreeSet, Roboto">
          Денис Мантуров
        </mj-text>
        <mj-text align="center" color="#413c35" font-size="14px" line-height="19px" font-family="FreeSet, Roboto" padding-top="0px">
          Министр промышленности<br>и торговли РФ
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-image width="108px" src="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-shohin.png"></mj-image>
        <mj-text align="center" color="#413c35" font-weight="700" font-size="22px" font-family="FreeSet, Roboto">
          Александр Шохин
        </mj-text>
        <mj-text align="center" color="#413c35" font-size="14px" line-height="19px" font-family="FreeSet, Roboto" padding-top="0px">
          Президент РСПП
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-image width="108px" src="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-noskov.png"></mj-image>
        <mj-text align="center" color="#413c35" font-weight="700" font-size="22px" font-family="FreeSet, Roboto">
          Константин Носков
        </mj-text>
        <mj-text align="center" color="#413c35" font-size="14px" line-height="19px" font-family="FreeSet, Roboto" padding-top="0px">
          Министр цифрового развития, связи<br>и массовых коммуникаций РФ
        </mj-text>
      </mj-column>
      </mj-group>
      </mj-section>
      <mj-section background-color="#ffffff">
      <mj-group>
      <mj-column>
        <mj-image width="108px" src="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-petrutsa.png"></mj-image>
        <mj-text align="center" color="#413c35" font-weight="700" font-size="22px" font-family="FreeSet, Roboto">
          Роман Петруца
        </mj-text>
        <mj-text align="center" color="#413c35" font-size="14px" line-height="19px" font-family="FreeSet, Roboto" padding-top="0px">
          Директор ФРП
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-image width="108px" src="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-vdovin.png"></mj-image>
        <mj-text align="center" color="#413c35" font-weight="700" font-size="22px" font-family="FreeSet, Roboto">
          Игорь Вдовин
        </mj-text>
        <mj-text align="center" color="#413c35" font-size="14px" line-height="19px" font-family="FreeSet, Roboto" padding-top="0px">
          Вице-президент
          РСПП, член
          Правления, председатель
          Комитета РСПП
          по инвестиционной
          политике, институтам
          развития и экспортной
          поддержке
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-image width="108px" src="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-cehomskiy.png"></mj-image>
        <mj-text align="center" color="#413c35" font-weight="700" font-size="22px" font-family="FreeSet, Roboto">
          Николай Цехомский
        </mj-text>
        <mj-text align="center" color="#413c35" font-size="14px" line-height="19px" font-family="FreeSet, Roboto" padding-top="0px">
          Первый заместитель председателя Внешэкономбанка
        </mj-text>
      </mj-column>
      </mj-group>
    </mj-section>
    <mj-section background-color="#ffffff">
      <mj-column width="450px">
        <mj-button href="https://mpfrussia.ru?utm_source=email&utm_medium=partners&utm_campaign=mpf2018&utm_content=digest_seldon&utm_term=info" font-size="16px" font-family="FreeSet, Roboto" background-color="#a00404" color="#ffffff" inner-padding="14px 72px">
          Подробнее
        </mj-button>
      </mj-column>
    </mj-section>
    <mj-raw>
      <!-- Icons -->
    </mj-raw>
    <mj-section padding-top="0px" background-size="600px 134px" background-url="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-footer.png" background-size="cover" background-repeat="no-repeat">
    <mj-group>
      <mj-column padding="22px 0px 0px 57px">
        <mj-image href="https://mpfrussia.ru?utm_source=email&utm_medium=partners&utm_campaign=mpf2018&utm_content=digest_seldon&utm_term=info" src="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-mpf-logo-white.png"></mj-image>
      </mj-column>
      <mj-column width="50%" padding-top="31px" padding-right="0px">
        <mj-text color="#ffffff" font-size="16px" line-height="22px" font-family="FreeSet, Roboto" align="right" padding="0px">
          105094, Москва<br>
          +7 (495) 481 39 30<br>
          <a style="color:#ffffff;" href="https://yandex.ru/maps/?um=constructor%3A8b91883cdaa9c262f1fced63f4ea1d88889002f71ba84bceb861c2737bc88793&source=constructorLink" target="_blank">Семеновская набережная, 2/1, стр. 1</a><br>
          e-mail: <a href="mailto:info@pfrussia.ru" style="color:#ffffff;" target="_blank">info@mpfrussia.ru</a><br>
        </mj-text>
      </mj-column padding-left="16px">
      <mj-column width="15%" vertical-align="bottom">
        <mj-image width="30px" src="https://mpfrussia.ru/wp-content/themes/mpfrussia/img/seldon-digest/seldon-digest-fb-logo.png" href="https://www.facebook.com/pages/category/Brand/%D0%9C%D0%B5%D0%B6%D1%80%D0%B5%D0%B3%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%BF%D1%80%D0%BE%D0%BC%D1%8B%D1%88%D0%BB%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9-%D0%A4%D0%BE%D1%80%D1%83%D0%BC-236723310290647?utm_source=email&utm_medium=partners&utm_campaign=mpf2018&utm_content=digest_seldon&utm_term=info">
      </mj-column>
    </mj-group>
    </mj-section>
  </mj-body>
</mjml>